<h4>The following targets are reported to interact with {{result1}} </h4>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-bordered" 
[el-loading]="isLoading"[text]="'It’s loading'">
  <tr>
    <th>Target</th>
    <th>Activity Type</th>
    <!--<th>pChembl value</th>-->
    
    <th>Activity Value</th>
    <th>Activity Comment</th>
    <th>Assay ID</th>
    <th>Doc ID</th>
  </tr>
  <tr *ngFor='let ar of arr'>
    <td> 
      
      <button mat-button color="primary" (click)="openMoleculePropertiesDialog(ar.target_id)">{{ar.target_id}}</button>
    </td>
    <td>
      <ng-container>
          <p>{{ar?.activity_type}}&nbsp;&nbsp;&nbsp;</p>
        </ng-container>
  </td>
  <td>
  <ng-container >
      <p>{{ar?.activity_value}}
        <!-- <a href="https://doi.org/{{ar?.doc_doi}}" target="_blank">{{ar?.reference}}</a> -->
          <!-- <button mat-button color="primary" (click)="openDocDialog(mole?.id)">(Detail)</button> -->
      </p>
    </ng-container>
  </td>
  <td>
    <ng-container >
      <p>{{ar?.activity_comment}}
        <!-- <a href="https://doi.org/{{ar?.doc_doi}}" target="_blank">{{ar?.reference}}</a> -->
          <!-- <button mat-button color="primary" (click)="openDocDialog(mole?.id)">(Detail)</button> -->
      </p>
    </ng-container>
   </td>
  <td>
    <ng-container>
        <p><a  [routerLink]="['/assay/'+ar.assay_id]" target="_blank" routerLinkActive="router-link-active">{{ar?.assay_id}}</a>&nbsp;&nbsp;&nbsp;</p>
      </ng-container>
</td>
<td>
  <button mat-button color="primary" (click)="openDocDialog(ar?.doc_id)">
    {{ar?.doc_id}}
  </button>
</td>
  </tr>
</table>
<div>
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--5-col">
        <mat-paginator [length]="pageMeta?.total_results"
                       [pageSize]="pageMeta?.per_page"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>
</div>
