a{
    text-decoration:none
}
.navbar{
    background-color: #333333;
    color:aliceblue;
    /* height:70px;
    line-height:70px; */
}
.nav{
    color: aliceblue;
}
*{margin:0px;padding:0px}
.container-fluid{
    background-image: linear-gradient(to top,#2C3335 0%,#1a1a1a 50%,#2C3335 100%);
}
